footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}
